-add_title :gem_displays.l

- for gem_display in @gem_displays
  %h2= gem_display.name
  %p= gem_display.info
  = badge_to gem_display.title, gem_display.version, gem_display, class: 'btn btn-large btn-success'
